{% extends "NewsApp/mainpage.html" %}
{% load static %}

{% block content %}
    <script type="text/javascript" src="{% static 'NewsApp\JavaScripts\signuphandler.js' %}"></script>
    <script>
        $(document).ready(
            function(){
                $('#SignUpForm').submit(NewUserHandler);
            }
        );
    </script>

   <div id='SignUpFormDiv'>
        {% if loggedin %}
            <p>You're already now logged in</p>
        {% else %}
            <table id="SignUpFormTable">

                <tr>
                    <th colspan='2' align='left'><h2>Sign Up</h2></th>
                </tr>

            <form id='SignUpForm' method='POST' action="{% url 'SignUpHandler' %}">
            {% csrf_token %}
                    <tr>
                        <td><label> Firstname: </label></td>
                        <td><input type ='text', name='firstname_inp' size='25' maxlength='150'/> </td>
                    </tr>
                    <tr>
                        <td><label> Lastname: </label></td>
                        <td><input type ='text', name='lastname_inp' size='25' maxlength='150'/> </td>
                    </tr>
                    <tr>
                        <td><label> Username: </label></td>
                        <td><input type ='text', name='username_inp' size='25' maxlength='150'/> </td>
                    </tr>

                    <tr>
                        <td><label> Password: </label></td>
                        <td><input type ='password', name='password_inp' size='25' maxlength='128'/></td>
                    </tr>

                    <tr>
                        <td><label> Email:</label></td>
                        <td><input type ='email', name='email_inp' size='25' maxlength='254'/></td>
                    </tr>

                    <tr>
                        <td><label> Date of birth: </label></td>
                        <td><input type ='date', name='dob_inp' size='25'/></td>
                    </tr>
                    <tr colspan='2'>
                        <td><input type='submit' value='Register'></td>
                    </tr>
                </table>
                <span id='ErrorMessages'><span>
            </form>
        {% endif %}
    </div>
{% endblock %}